name: preview
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

permissions:
  packages: read
  contents: read
  id-token: write # This is required for requesting the JWT

jobs:
  preview:
    name: Run preview
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure Namespace
        uses: namespacelabs/nscloud-setup@v0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Run preview
        run: |
          ./setup.sh
